:root {
    --color-dark: #000;
    --color-white: #fff;
    --color-pri: #ff8b38;
    --color-sec: #f5f5f5;
    --color-placeH: #bdbdbd;
    --color-text-sec: #86878b;
    --color-text-pri: #212121;
    --color-border: #b7b7b7;
    --color-tab: #333;

}

.section {
    padding: 7.5rem 0;

}

.section p {
    font-size: 14px;
}


.mainHeader {
    background-color: var(--color-dark) !important;
}

nav.navbar.navbar-expand-lg.bg-light {
    background-color: transparent !important;
}

.mainHeader .navbar-nav .nav-link {
    color: var(--color-white);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.mainHeader .active .nav-link {
    color: var(--color-pri);


}



.mainHeader .navbar-nav .active>.nav-link,
.mainHeader .navbar-nav .nav-link.active,
.mainHeader .navbar-nav .nav-link.show,
.mainHeader .navbar-nav .show>.nav-link,
.mainHeader .navbar-nav .nav-link:hover,
.mainHeader .navbar-nav .nav-link:focus,
.mainHeader .navbar-nav .nav-link:active {
    color: var(--color-pri);

}


.mainHeader .navbar-nav .nav-link::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-pri);
    position: absolute;
    transition: all 0.3s ease-in-out;
}


.mainHeader .navbar-nav .nav-link:hover::after,
.mainHeader .navbar-nav .active .nav-link::after {
    width: 100%;
    position: absolute;
}

.mainHeader .navbar-light .navbar-toggler i {
    color: var(--color-pri);
    font-size: 25px;
}

.mainHeader .navbar-light .navbar-toggler {
    border-color: var(--color-pri);
    color: var(--color-pri);
}





/* HERO SECTION CSS */
.heroSection {

    /* height: calc(100vh - 57.7px); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    object-fit: cover;

}


.short-border {
    position: relative;
    margin-bottom: 80px;
}

.short-border::after {
    content: "";
    position: absolute;
    width: 65px;
    bottom: -45px;
    height: 3px;
    background: var(--color-pri);
    left: 5px;
}



.heroPara {
    margin-bottom: 2rem;
}

.primaryBtn {
    border-color: var(--color-white);
    color: white;
    padding: 10px 30px;
    position: relative;
    font-weight: 700;
    background-color: transparent;
    z-index: 1;
}


.primaryBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-pri);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all ease-in-out 0.7s;

}

.primaryBtn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-pri);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all ease-in-out 0.7s;

}

.primaryBtn:hover::before,
.primaryBtn:focus::before,
.primaryBtn:active::before {
    width: 50%;
}

.primaryBtn:hover::after,
.primaryBtn:focus::after,
.primaryBtn:active::after {
    width: 50%;
}




/* ##### TRAIL FORM CSS #### */
.formTrial span {
    color: var(--color-pri);
    text-transform: uppercase;
}

.formTrial .header {
    background-color: var(--color-sec);
}

.formTrial .card {
    border: 0;
}

.formTrial h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.formTrial .form-control {
    border: 0;
    padding: 36px;
}

.formTrial input::placeholder {
    color: var(--color-placeH);
    border-bottom: 2px solid var(--color-placeH);
    padding: 10px;
    /* border-bottom:100% ; */
}

.formTrial .btnSecondary {
    width: 100%;
    padding: 14px !important;
    background-color: var(--color-pri);
    text-align: center;
    border: none;
    border-radius: 2px;
    color: var(--color-white);
    font-weight: 500;
    font-size: 22px;
    transition: all 0.3s ease-in-out;

}


.formTrial .card-footer {
    padding: 0;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .125);
}

.formTrial .btnSecondary {

    border: 2px solid var(--color-pri);
}

.formTrial .btnSecondary:hover {
    background-color: #fff;
    color: var(--color-pri);
    border: 2px solid var(--color-pri);
}


/* ############ SICIAL MEDIA SECTION CSS */
.sectionMedia {
    padding: 20px 0;
    border-bottom: 2px solid var(--color-border);
}

.sectionMedia h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.sectionMedia p {
    font-size: 14px;
    color: var(--color-text-sec);

}

.sectionMedia i {
    font-size: 40px;
    color: var(--color-text-sec);
    transition: all .3s ease-in-out;
}

.social-icons a:nth-child(even):hover i {
    font-size: 40px;
    transform: rotate(-20deg) scale(2);
    color: var(--color-pri);
}

.social-icons a:nth-child(odd):hover i {
    font-size: 40px;
    transform: rotate(20deg) scale(2);
    color: var(--color-pri);
}


.sectionMedia .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* ###### FEATURE ONE SECTION #### */


.feature1 {
    background-color: var(--color-sec);
}



.tabFeature1 {
    display: flex;
    /* flex-direction: column; */
}

#myTab {

    flex-direction: column;
    background-color: var(--color-tab);
    border-radius: 5px;
}

.tabFeature1 .nav-link.active {
    background-color: var(--color-pri);
    color: var(--color-white);
}

.tabFeature1 .nav-link {
    width: 110px;
    height: 110px;
    color: var(--color-white);
}


.feature1Img .feature1Img {
    background-color: transparent;
}


#myTabContent .primaryBtn {
    border-color: var(--color-dark);
    color: var(--color-dark);
    margin-top: 40px;
}


/* ###### FEATURE 2 SECTION #### */

.coudIcon {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-pri);
    border-radius: 50%;
    margin-right: 0 !important;
}

.coudIcon {
    cursor: pointer;
    color: var(--color-dark);
    transition: all 0.9s ease-in-out;
    color: var(--color-pri);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .3);
}

.coudIcon:hover {
    color: var(--color-pri);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, .5);
    transform: scale(1.08);


}

.tabFeature1 h2 {
    margin-bottom: 40px;
}

.feature2 .leftImg img {
    transition: all 0.9s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* box-shadow: 2px 5px 5px rgba(0, 0, 0, .3); */

}

.feature2 .leftImg img:hover {
    transition: all 0.9s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* box-shadow: 4px 10px 10px rgba(0, 0, 0, .5); */
    transform: scale(1.03);

}


/* ######     FEATURE 3 SECTION  ####### */

.feature3 {
    background-color: var(--color-sec);
}

.feature3 .rightImg img {
    transition: all 0.3s ease-in-out;
    /* box-shadow: 2px 5px 5px rgba(0, 0, 0, .3); */

}

.feature3 .rightImg img:hover {
    transition: all 0.3s ease-in-out;
    /* box-shadow: 4px 10px 10px rgba(0, 0, 0, .5); */
    transform: scale(1.03);

}


/* ##### AWESOME SECTION CSS ##### */


.awesome .short-border::after {
    left: 50%;
    transform: translateX(-50%);

}

.awesome .short-border {
    position: relative;
    margin-bottom: 68px;
}

.awesome .awesomeCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.awesome .coudIcon {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

/* ##### PRICING SECTION CSS ##### */

.pricing .short-border::after {
    left: 50%;
    transform: translateX(-50%);

}

.pricing .short-border {
    position: relative;
    margin-bottom: 68px;
}

.pricing .card-header{
    background-color: var(--color-tab);
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 22px 0;
    border-bottom: 1px solid var(--color-sec);
}

.pricing .plan-details{
    background-color: var(--color-tab);
    color: var(--color-white);
padding: 1.75rem 0 1.25rem;
border-bottom: 5px solid var(--color-pri);
}   


.plan-price {
    font-size: 35px;
}

.plan-price span{
    font-size: 95px;
    margin-left: -10px;
}

.time-span{
    font-weight: 500;
    font-size: 14px;
}

.plan-offering li{
    color: var(--color-text-sec);
    border: 0;
}

.pricing .card{
    border: 0px;
}
 

.plan-offering li:not(:last-child){
    border-bottom: 2px solid var(--color-sec);
}

/* popular carc css */
.pricing{
    background-color: var(--color-sec)
}

.mostPopular .plan-details{
    border: 0px;
}

.mostPopular .popularInfo{
    color: var(--color-white);
    background-color: var(--color-pri);
    padding: 15px 0;
    font-size: 14px;
    font-weight: 700;
}

img{
    max-width: 100%;
}